
#AddDefaultCharset UTF-8
AddCharset UTF-8 .html

php_value post_max_size 150M
php_value upload_max_filesize 150M
php_value memory_limit 1024M
php_value max_execution_time 180

#Redirect errors to file

#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off

php_flag log_errors on  
php_value error_log ../logs/php_error.log 

#protection php error.log from direct access.
<Files logs/php_error.log>  
Order allow,deny  
Deny from all  
Satisfy All  
</Files>  


